kind: Deployment
apiVersion: apps/v1
metadata:
  name: mydeployment

spec:
  replicas: 3
  selector:
    matchLabels:
      objtype: deployment

  template:
    metadata:
      labels:
        objtype: deployment

    spec:
      containers:
        - name: c00
          image: ubuntu
          command: ["/bin/bash", "-c", "while true; do echo hello-akki; sleep 5; done"]
          resources:
            requests:
              cpu: "100m"
              memory: "100Mi"
            limits:
              cpu: "300m"
              memory: "300Mi"
